.itens{
    font-style: italic
}
.beneficios{
    background: #FFFFFF;
}

.principal{
    background: #CCCCCC;
}

h2{
    text-align: center;
}

ul{
display: inline-block;
}

.imagembeneficios{
    width: 50%;
}