.itens{
    font-style: italic
}


.principal{
    background: #FFFF;
	padding: 30px;
}

h2{
    text-align: center;
}


.beneficios {
	background:#CCCCCC;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}


.imagembeneficios{
    width: 50%;
}
.titulo-centralizado{
	text-align: center;
}
.titulo-principal{
	padding-left: 20px;
	background-color: #FFFF;
}
#banner{
	width: 100%;
}